*.py[cod]
*.sublime-project
*.sublime-workspace
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
pip-log.txt
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
vendor
*.sublime-*
.tmp
.sass-cache
node_modules
bower_components
npm-debug.log